<div class="text-center container">
    <button style="margin-left:10px;" (click)='quoteDelete(true)' class="btn btn-outline-danger">Delete</button>
    <button style="margin-left:10px;" class="btn btn-outline-success" (click)='upVote($event)'> {{quote.upVote}} <i
            class="fa fa-thumbs-up" aria-hidden="true"></i></button>
    <button style="margin-left:20px;" class="btn btn-outline-warning" (click)='downVote($event)'>{{quote.downVote}} <i
            class="fa fa-thumbs-down" aria-hidden="true"></i></button>


</div>