<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <ul *ngFor='let quote of quotes; let i=index'>
                <div>
                    <li>{{quote.quote}}</li>
                    <app-quote-details [details]='quote'(isToDelete)='deleteQuote($event, i)'></app-quote-details>
                </div>
            </ul>
            
        </div>
        <div class="col-md-6">
            <app-quote-form (emitQuote)='addQuote($event)'></app-quote-form>
        </div>
    </div>
</div>