/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 100px;
    background-color: rgb(14, 1, 1);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 20px;
    color: white;
    
}
